.contain {
    display: grid;
    

    grid-template-columns:  1fr;  

    grid-template-areas: 
      "s1 "
      "m "
      "s2 "
      "s3 ";
  }

  main{
    background-color: #DCE6EA;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  #s1 {
    grid-area: s1;
    
    background-color: white;
    height: 50px;
    max-width: fit-content;
  }
  #s2 {
    grid-area: s2;
  }
  
  #s3 {
    grid-area: s3;
  }
.caixas{   
    border: 1px solid black;    
}

#s2{
    display: grid;
    padding-top: 80px;
    gap:100px;
    margin-left: 142px;
    margin-right: 142px;
    padding-bottom: 100px;
    
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: "c1 c2 c3"
                         
                      ;
  }

#c1{
    grid-area: c1;
    background-color:#DCE6EA;
    width: 100%;
    height: 500px;
}
#c2{
    background-color:#DCE6EA;
    grid-area:c2;
    width: 100%;
    height: 500px;
}
#c3{
    background-color:#DCE6EA;
    grid-area:c3;
    width: 100%;
    height: 500px;    
}
#tit{
    color:#003785;
    font-size: 56px;
}
#hrzao{
width: 20%;
}
#call{
font-weight: 500;
font-size: 36px;
}
#fala{
font-size: 16px;
padding-top: 100px;
font-weight: 400;
padding-bottom:80px;
}

#s3{
    
    padding-top: 38px;
    background-color: #DCE6EA;
    display: grid;
    grid-template-areas: "i o"
  }

  #imgg{ grid-area: i ;
    padding-left: 40px;
    padding-bottom: 48px;
    }
    
    #obj{ grid-area: o;
        padding-left: 20px;
    }

  #grid{
    display: grid;
    grid-template-areas: "f v";
    align-items: baseline;
  }
  
  #objetivo{
    grid-area: f;
    display: flex;
    align-items: center;
    gap:7px;
    height: 90px;
  }
  
  
  #ob{
    font-size: 16px;
    font-weight: 500;
    
  }
  
  #preserv{
    margin-left: 70px;
    display: flex;
    
  
    
  }
  #obText{ font-size: 12px; 
      position: relative;
      bottom: 55px
  }
  
  #valor{
    grid-area: v;
    display: flex;
    align-items: center;
    gap: 7px;
  }
  
  
  #vl{
    font-size: 16px;
    font-weight: 500;
  
  }
  
  
  
  #destaq{
    font-size: 16px;
  }

  #valor ul{
    margin-right: 200px;
    margin-top:60px
  }
  
  #valor ul li{
    list-style: none;
    
  }
  
  #font{
    font-size: 12px;
  }

@media(max-width:1167px)
{
    
 

  #s2{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 80px;
    gap:100px;
    margin-left: 142px;
    margin-right: 142px;
    padding-bottom: 100px;
    
    
    grid-template-areas: "c1"
                         "c2"
                         "c3"
                         
                      ;
  }

  #s3{
   
    grid-template-areas: "i "
                         "o"
  }

  #fecap{
    width: 300px;
  }

  #sep{
    width: 40%;
  }
  
#fala{
    font-size: 14px;
}

}

@media(max-width:768px){
    main{
        max-width:768px;
    }

    #s3{
        max-width: 500px;
    }

}

@media(max-width:500px){
    main{
        max-width:500px;
    }

    #s3{
        margin-right: 50px;
    }

}

