.card {
  width: 24rem;
  height: 34rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: rgb(31, 28, 28);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
 
    .ImgCard {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .2s ease-out;
    }

  .CardTitulo {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  .DescCard, .CardLink, .DescCardLocal {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  .DescCard {
    inset: auto auto 80px 30px;
    font-size:small;
  }
  .DescCardLocal{
    inset: auto auto 160px 30px;
    font-size:small;
  }
  .CardLink {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover .CardTitulo {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover .DescCard, &:hover .CardLink, &:hover .DescCardLocal {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.6;
  }

}
.Titulo{
    padding: 0;
    margin: 16px 32px;
}
.material-symbols-outlined {
  vertical-align: middle;
}
