  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .title {
    width: 90%;
    padding-left: 50px;
    margin-bottom: 5px;
    margin-top: 50px;
  }
  
  .description {
    width: 90%;
    padding-left: 50px;
    margin-bottom: 20px;
    font-weight: 300;
  }
  
  .contain {
    padding: 40px 100px;
    width: 70%;
    background-color: gray;    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .image {
    border-radius: 8px;
  }
  
  .text {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
  }
  
  @media (max-width:1100px) {
    .contain {
      padding: 20px 40px;
    }
  
    .image {
      width: 100%;
    }
  }