* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.container1 {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 50px;
}

.title1 {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.description1 {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.contain1 {
  padding: 100px 100px;
  width: 100%;
  background-color: #D9D9D9;    
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  border-radius: 6px;
}

.image1 {
  border-radius: 8px;
}

.text1 {

  margin-top: 80px;
  text-align: center;
}

@media (max-width: 992px) {
  .contain1 {
    padding: 20px 40px;
  }

  .image1 {
    width: 80%;
  }
}