* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

.container {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.title {
  width: 100%;
  padding-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contain{
  padding: 100px 100px;
  background-color: #D9D9D9;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 70px;
  height: 1000px;
}

.contain-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;

}

.label-text {
  color: black;
  margin-bottom: 3px;
  font-size: 20px;
}

.input-text{
  background-color: #DCE6EA;
  padding: 12px 10px;
  border-radius: 6px;
  width: 100%;
  
}


  .input-text1{
    background-color: #DCE6EA;
    padding: 12px 10px;
    border-radius: 6px;
    width: 40%;
    font-size: 20px;
  }


  .input-textarea {
    background-color: #DCE6EA;
    padding: 12px 10px;
    border-radius: 6px;
    resize: none;
  }

  .button {
    background-color: #003785;
    display: flex;
    justify-content: center;
    width: 10%;
    padding: 12px 6px;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 45%;
    color: white;
    margin-top: 70px;

  }

  @media (max-width: 992px) {
    .contain {
      padding: 20px 40px;
    }
  }

.design{
  background-color: #D9D9D9;
}