* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-family: sans-serif;
  }
  
  .container {
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .title {
    width: 90%;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .contain{
    padding: 40px 100px;
    width: 90%;
    background-color: gray;
    border-radius: 6px;
  }
  
  .contain-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .label-text {
    color: black;
  }
  
  .input-text {
    background-color: #DCE6EA;
    padding: 12px 250px;
    border-radius: 6px;                               
  }

  .input-text1{

    display: flex;
    flex-direction: row;
    background-color: #DCE6EA;
    padding: 12px 20px;
    border-radius: 6px; 

  }
  
  .input-textarea {
    background-color: #DCE6EA;
    padding: 40px 250px;
    border-radius: 6px;
    resize: none;
  }
  
  .button {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px 6px;
    border-radius: 6px;
    font-weight: 600;
    color: black;
  }
  
  @media (max-width: 720px) {
    .contain {
      padding: 20px 40px;
    }
  } 